---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
const { project } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={project.data.title}
      description={project.data.description}
    />
  </head>
  <body class="p-0 m-0 max-w-screen">
    <Header />
    <img
      class="w-full object-cover"
      src={project.data.image}
      alt={project.data.imageAlt}
    />
    <main class="container max-w-5xl mx-auto md:px-10">
      <article class="mt-6">
        <h1>{project.data.title}</h1>
        <p>Year: {project.data.year} ({project.data.status})</p>

        <div class="content prose prose-lg my-6">
          <slot />
        </div>
        <a href="/projects">Back to Projects</a>
      </article>
    </main>
    <Footer />
  </body>
</html>
